    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* reset over */
    /* reset over */
    /* reset over */
    
    body {
        background: #EFE9E7;
        font-family: 微軟正黑體;
    }
    
    .wrap,
    .banner {
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    
    .wrap {
        background: #efe9e7;
    }
    
    @media screen and (max-width:768px) {
        body {
            width: 768px;
            margin: 0 auto;
        }
        .wrap,
        .banner,
        .header,
        .brown,
        .wcolor {
            width: 768px;
            margin: 0 auto;
        }
    }
    
    @media screen and (max-width:320px) {
        body {
            width: 320px;
            margin: 0 auto;
        }
        .wrap,
        .banner,
        .header,
        .brown,
        .wcolor {
            width: 324px;
            margin: 0 auto;
        }
    }
    
    .header {
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: space-between;
        z-index: 999;
    }
    
    .logo {
        padding: 16px 0px 13px 42px;
    }
    
    .menu {
        word-spacing: 20px;
        padding: 18px 48px 17px 13px;
        display: flex;
        justify-content: center;
    }
    
    .menu li {
        display: inline-flex;
        color: #fff;
        font-size: 16px;
        line-height: 21px
    }
    
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
    
    #toggler {
        display: none;
    }
    
    @media screen and (max-width:768px) {
        .logo {
            padding: 17px 0px 15px 10px;
        }
        .menu {
            word-spacing: 30px;
            padding: 0px 68px 0px 13px;
            margin-left: 490px;
        }
        .menu li {
            margin: 18px -140px 17px 13px;
            display: inline-flex;
            color: #fff;
            font-size: 16px;
            line-height: 21px
        }
    }
    
    @media screen and (max-width:380px) {
        .logo {
            padding: 17px 0px 15px 12px;
        }
        .hamburger-container {
            display: block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 16px;
            margin-right: 22px;
        }
        .hamburger-container span {
            display: block;
            height: 1px;
            background-color: #fff;
            position: relative;
            transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
            top: 0;
        }
        .hamburger-container span:nth-child(2) {
            margin-top: 7px;
        }
        #toggler:checked+label .hamburger-container span:nth-child(1) {
            transform: rotate(45deg);
            top: 4px;
            transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
        }
        #toggler:checked+label .hamburger-container span:nth-child(2) {
            transform: rotate(-45deg);
            top: -4px;
            transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
        }
        .menu {
            display: block;
            flex-direction: column;
            word-spacing: 30px;
            background-color: rgba(0, 0, 0, .82);
            width: 10px;
            height: 250px;
            position: absolute;
            top: 44px;
            left: 0;
            transform: scaleY(0);
            transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out.3s;
            transform-origin: 50% 0;
            opacity: 0;
            margin: 0 0px 0 233px;
        }
        .menu ul {
            list-style-type: none;
            margin-top: 1em;
            padding: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .menu li {
            margin: 18px 145px 17px 10px;
            display: inline-flex;
            color: #fff;
            font-size: 16px;
            line-height: 21px;
            width: 32px;
        }
        .menu a {
            list-style-type: none;
        }
        #toggler:checked~.menu {
            transform: scaleY(1);
            opacity: 1;
        }
    }
    
    .banner {
        height: 420px;
        background-image: url(./assets/header_desktop.png);
    }
    
    .slogan {
        color: #fff;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);
        width: 460px;
        position: absolute;
        margin: 123px 260px 145px 260px;
        padding: 20px 22px 26px 22px;
    }
    
    .slogan h1 {
        font-size: 36px;
    }
    
    .slogan p {
        font-size: 16px;
        margin-top: 18px;
        line-height: 22px;
    }
    
    @media screen and (max-width:768px) {
        .banner {
            width: 100%;
        }
        .slogan {
            width: 100%;
            margin: 123px 154px 145px 154px;
            padding: 20px 22px 26px 22px;
            width: 460px;
        }
    }
    
    @media screen and (max-width:320px) {
        .banner {
            width: 100%;
            height: 420px;
            background-image: url(./assets/Bitmap.png);
            background-position: center;
        }
        .slogan {
            margin: 123px 12px 145px 12px;
            padding: 0 0;
            width: 300px;
        }
        .banner div h1 {
            padding: 20px 6px 20px 6px;
            line-height: 50px;
        }
        span {
            display: block;
        }
    }
    
    .content {
        display: flex;
    }
    /*  */
    
    .food-list {
        margin: 52px 20px 0 42px;
    }
    
    .fa-leaf {
        font-size: 26px;
        color: #3d1101;
        font-style: none;
        margin-right: 15px;
    }
    
    .food-list h3 {
        font-size: 20px;
        margin-bottom: 16px;
        color: #3d1101;
    }
    
    .food-list li {
        text-decoration: none;
        font-size: 16px;
        padding: 10px;
        width: 220px;
        border-bottom: 1px solid #3d1101;
    }
    
    .food-list a {
        text-decoration: none;
        color: #3d1101;
    }
    
    .food-list li:hover,
    a:hover {
        background-color: #3d1101;
        display: block;
        color: #EFE9E7;
    }
    
    .food-list li a:hover {
        display: block;
        color: #EFE9E7;
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
    
    @media screen and (max-width:768px) {
        .food-list li {
            width: 200px;
        }
    }
    
    @media screen and (max-width:320px) {
        .content {
            flex-direction: column;
        }
        .food-list {
            margin: 52px 11px 0 11px;
        }
        .food-list li {
            width: 280px;
        }
    }
    /*  */
    
    .up {
        display: flex;
    }
    /* 搜尋 */
    
    .search {
        box-sizing: border-box;
        margin-top: 48px;
    }
    
    .search input[type=text] {
        padding: 6px;
        font-size: 17px;
        border: 2px solid #3d1101;
        float: left;
        width: 375px;
        background: #EFE9E7;
    }
    
    .search button {
        float: left;
        width: 36px;
        padding: 7px;
        background: #3d1101;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }
    
    .search button:hover {
        background: #7c6860;
    }
    
    .search::after {
        content: "";
        clear: both;
        display: table;
    }
    
    @media screen and (max-width:768px) {
        .search input[type=text] {
            width: 185px;
        }
    }
    
    @media screen and (max-width:320px) {
        .up {
            flex-direction: column;
        }
        .search {
            margin: 20px 10px;
        }
        .search input[type=text] {
            width: 250px;
        }
    }
    /* 結帳 */
    
    .checkout {
        display: flex;
        margin: 55px 63px 0 112px;
    }
    
    .checkout h4 {
        width: 63px;
        height: 20px;
        font-size: 16px;
        padding-top: 3px;
        padding-right: 12px;
        text-align: center;
    }
    
    .checkout button {
        height: 16px;
        background: #EFE9E7;
        color: #3d1101;
        font-size: 27px;
        border: none;
        cursor: pointer;
    }
    
    @media screen and (max-width:768px) {
        .checkout {
            margin-left: 70px;
        }
    }
    
    @media screen and (max-width:320px) {
        .checkout {
            margin: 0px 0px 32px 194px;
        }
    }
    /* 商品 */
    
    .course {
        display: flex;
        flex-direction: column;
        color: #3d1101;
    }
    
    .row {
        display: flex;
        width: 742px;
        flex-wrap: wrap;
    }
    
    .course-item {
        width: 220px;
        height: 280px;
        margin: 30px 20px 0 0px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 16%);
        border-radius: 3px;
        text-align: center;
    }
    
    .course-item img {
        width: 220px;
        height: 120px;
    }
    
    .course-item h2 {
        font-size: 20px;
        margin-top: 11px;
    }
    
    .course-item h3 {
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-style: italic;
    }
    
    .course-item h6 {
        font-size: 12px;
        margin-top: 5px;
    }
    
    hr {
        width: 91px;
        margin-top: 15px;
        border: 0;
        border-bottom: 1px solid #3d1101;
    }
    
    .course-item p {
        font-size: 16px;
        margin-top: 33px;
        border: 2px solid #FF5E45;
        border-radius: 3px;
        padding: 3px 0px 4px 0px;
        margin: 10px;
        margin-top: 13px;
        color: #FF5E45;
    }
    
    .course-item button {
        border: none;
        cursor: pointer;
        background: #EFE9E7;
        padding: 0;
        width: 200px;
        height: 28px;
    }
    
    @media screen and (max-width:768px) {
        .row {
            width: 500px;
            flex-wrap: wrap;
        }
    }
    
    @media screen and (max-width:320px) {
        .row {
            width: 240px;
        }
        .course-item {
            width: 300px;
            height: 280px;
            margin: 0px 10px 30px 10px;
        }
        .course-item img {
            width: 300px;
            height: 120px;
        }
        .course-item button {
            width: 300px;
            height: 28px;
        }
    }
    /* 頁尾 */
    
    .footer {
        color: #3d1101;
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    
    .footer h2 {
        font-size: 24px;
        line-height: 32px;
        margin-left: 43px;
        margin-bottom: 16px;
    }
    
    .footer p {
        width: 299px;
        line-height: 20px;
        margin-left: 43px;
        margin-bottom: 50px;
    }
    
    .contact h2 {
        margin-left: 21px;
    }
    
    .contact ul {
        list-style-type: disc;
        margin-left: 43px;
        line-height: 20px;
        width: 299px;
    }
    
    .footer img {
        width: 245px;
        height: 49px;
        margin-left: 50px;
        margin-right: 42px;
    }
    .icon {
        font-size: 35px;
        margin-left: 180px;
        margin-top: 16px;
    }

    
    @media screen and (max-width:768px) {
        .footer h2 {
            margin-left: 11px;
        }
        .footer p {
            width: 235px;
            line-height: 20px;
            margin-left: 11px;
            margin-bottom: 50px;
        }
        .footer img {
            width: 245px;
            height: 49px;
            margin-left: 12px;
            margin-right: 10px;
        }
        .contact {
            width: 235px;
        }
        .contact h2 {
            margin-left: 20px;
        }
    }
    
    @media screen and (max-width:320px) {
        .footer {
            display: flex;
            flex-direction: column;
        }
        .footer p {
            width: 299px;
        }
        .contact {
            width: 235px;
            margin-bottom: 50px;
        }
        .footer img {
            margin-left: 65px;
        }
        .contact ul {
            width: 250px;
        }
        .icon {
            font-size: 35px;
            margin-left: 200px;
            margin-top: 10px;
    }
    }
