/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* reset over */


/* reset over */


/* reset over */

* {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    background: #EFE9E7;
    font-family: 微軟正黑體;
}

.wrap,
.banner {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    background-position: center;
}

.wrap {
    background: #efe9e7;
}

.header {
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.logo {
    padding: 16px 0px 13px 42px;
}

.menu {
    word-spacing: 20px;
    padding: 18px 48px 17px 13px;
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline-flex;
    color: #fff;
    font-size: 16px;
    line-height: 21px
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

#toggler {
    display: none;
}

@media (max-width:465px) {
    .hamburger-container {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 16px;
        margin-right: 22px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background-color: #fff;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
    #toggler:checked+label .hamburger-container span:nth-child(1) {
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked+label .hamburger-container span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
    }
    #toggler:checked~.menu {
        transform: scaleY(1);
        opacity: 1;
    }
}

.banner {
    height: 420px;
    background-image: url(./assets/header_desktop.png);
}

.slogan {
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35);
    max-width: 460px;
    position: absolute;
    margin: 123px auto;
    left: 0;
    right: 0;
    padding: 20px 22px 26px 22px;
}

.slogan h1 {
    font-size: 36px;
}

.slogan p {
    font-size: 16px;
    margin-top: 18px;
    line-height: 22px;
}


/* login */

.register {
    color: #3d1101;
    margin-top: 55px;
    text-align: center;
}

.register h4 {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 900;
}

.all {
    display: flex;
    justify-content: space-around;
}

.form {
    max-width: 620px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 15px;
    border-top: 5px solid #FF5E45;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

.notice {
    margin-top: 10px;
}

.notice h4 {
    width: 285px;
    text-align: left;
    font-size: 18px;
}

.notice p {
    width: 285px;
    height: 138px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

.notice p {
    width: 285px;
    height: 138px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content label {
    margin-top: 15px;
    text-align: left;
    font-weight: 600;
}

.form h3 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Noto Sans JP', sans-serif;
}

input {
    padding: 8px;
    border: 1px solid #CCCCCC;
    margin-top: 6px;
    border-radius: 5px;
    width: 285px;
}

.content a {
    text-decoration: none;
    color: #FF5E45;
    margin-top: 5px;
    text-align: left;
    font-size: 15px;
}

.send {
    margin-top: 30px;
}

.button2 {
    background: #FF5E45;
    width: 125px;
    height: 32px;
    border: none;
    color: #fff;
    border-radius: 3px;
    margin-left: 170px;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 48px;
}

@media (max-width:775px) {
    .all {
        flex-direction: column;
    }
    .form {
        max-width: 320px;
    }
}


/* 頁尾 */

.footer {
    color: #3d1101;
    display: flex;
    justify-content: space-between;
    padding: 50px 43px;
}

.footer h2 {
    font-size: 24px;
    line-height: 32px;
}

.footer .about,
.footer .contact {
    width: 299px;
    line-height: 20px;
}

.contact h2 {
    margin-left: 21px;
}

.contact ul {
    list-style-type: disc;
    margin-left: 43px;
    line-height: 20px;
}

.footer img {
    width: 245px;
    height: 49px;
    text-align: right;
}

.icon {
    font-size: 35px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width:775px) {
    .footer {
        flex-direction: column;
    }
    .about,
    .contact,
    .social {
        max-width: 100%;
    }
    .contact h2 {
        margin-left: 0;
        margin: 20px 0;
    }
    .social {
        margin: 20px 0;
    }
    .contact ul {
        margin-left: 20px;
    }
}

@media(max-width:465px) {
    .banner {
        background-image: url("./assets/Bitmap.png");
    }
    .slogan span {
        display: block;
    }
    .menu {
        display: block;
        flex-direction: column;
        word-spacing: 30px;
        background-color: rgba(0, 0, 0, .82);
        width: 10px;
        height: 250px;
        position: absolute;
        top: 44px;
        right: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out.3s;
        transform-origin: 50% 0;
        opacity: 0;
        margin: 0 0px 0 233px;
    }
    .menu ul {
        list-style-type: none;
        margin-top: 1em;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .menu li {
        margin: 18px 145px 17px 10px;
        display: inline-flex;
        color: #fff;
        font-size: 16px;
        line-height: 21px;
        width: 32px;
    }
    .menu li a {
        list-style-type: none;
    }
    #toggler:checked~.menu {
        transform: scaleY(1);
        opacity: 1;
    }
    .logo {
        padding: 20px 10px;
    }
    .hamburger-container {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 22px;
        margin-right: 22px;
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background-color: #fff;
        position: relative;
        transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
        top: 0;
    }
    .hamburger-container span:nth-child(2) {
        margin-top: 7px;
    }
}