    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* reset over */
    /* reset over */
    /* reset over */
    
    body {
        background: #EFE9E7;
        font-family: 微軟正黑體;
    }
    
    .wrap,
    .banner {
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
    }
    
    .wrap {
        background: #efe9e7;
    }
    
    @media screen and (max-width:768px) {
        body {
            width: 768px;
            margin: 0 auto;
        }
        .wrap,
        .banner,
        .header,
        .brown,
        .wcolor {
            width: 768px;
            margin: 0 auto;
        }
    }
    
    @media screen and (max-width:320px) {
        body {
            width: 320px;
            margin: 0 auto;
        }
        .wrap,
        .banner,
        .header,
        .brown,
        .wcolor {
            width: 324px;
            margin: 0 auto;
        }
    }
    
    .header {
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: space-between;
        z-index: 999;
    }
    
    .logo {
        padding: 16px 0px 13px 42px;
    }
    
    .menu {
        word-spacing: 20px;
        padding: 18px 48px 17px 13px;
        display: flex;
        justify-content: center;
    }
    
    .menu li {
        display: inline-flex;
        color: #fff;
        font-size: 16px;
        line-height: 21px
    }
    
    .menu li a {
        color: #fff;
        text-decoration: none;
    }
    
    #toggler {
        display: none;
    }
    
    @media screen and (max-width:768px) {
        .logo {
            padding: 17px 0px 15px 10px;
        }
        .menu {
            word-spacing: 30px;
            padding: 0px 68px 0px 13px;
            margin-left: 490px;
        }
        .menu li {
            margin: 18px -140px 17px 13px;
            display: inline-flex;
            color: #fff;
            font-size: 16px;
            line-height: 21px
        }
    }
    
    @media screen and (max-width:320px) {
        .logo {
            padding: 17px 0px 15px 12px;
        }
        .hamburger-container {
            display: block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 16px;
            margin-right: 22px;
        }
        .hamburger-container span {
            display: block;
            height: 1px;
            background-color: #fff;
            position: relative;
            transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
            top: 0;
        }
        .hamburger-container span:nth-child(2) {
            margin-top: 7px;
        }
        #toggler:checked+label .hamburger-container span:nth-child(1) {
            transform: rotate(45deg);
            top: 4px;
            transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
        }
        #toggler:checked+label .hamburger-container span:nth-child(2) {
            transform: rotate(-45deg);
            top: -4px;
            transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
        }
        .menu {
            display: block;
            flex-direction: column;
            word-spacing: 30px;
            background-color: rgba(0, 0, 0, .82);
            width: 10px;
            height: 250px;
            position: absolute;
            top: 44px;
            left: 0;
            transform: scaleY(0);
            transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out.3s;
            transform-origin: 50% 0;
            opacity: 0;
            margin: 0 0px 0 233px;
        }
        .menu ul {
            list-style-type: none;
            margin-top: 1em;
            padding: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .menu li {
            margin: 18px 145px 17px 10px;
            display: inline-flex;
            color: #fff;
            font-size: 16px;
            line-height: 21px;
            width: 32px;
        }
        .menu li a {
            list-style-type: none;
        }
        #toggler:checked~.menu {
            transform: scaleY(1);
            opacity: 1;
        }
    }
    
    .banner {
        height: 420px;
        background-image: url(./assets/header_desktop.png);
    }
    
    .slogan {
        color: #fff;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);
        width: 460px;
        position: absolute;
        margin: 123px 260px 145px 260px;
        padding: 20px 22px 26px 22px;
    }
    
    .slogan h1 {
        font-size: 36px;
    }
    
    .slogan p {
        font-size: 16px;
        margin-top: 18px;
        line-height: 22px;
    }
    
    @media screen and (max-width:768px) {
        .banner {
            width: 100%;
        }
        .slogan {
            width: 100%;
            margin: 123px 154px 145px 154px;
            padding: 20px 22px 26px 22px;
            width: 460px;
        }
    }
    
    @media screen and (max-width:320px) {
        .banner {
            width: 100%;
            height: 420px;
            background-image: url(./assets/Bitmap.png);
            background-position: center;
        }
        .slogan {
            margin: 123px 12px 145px 12px;
            padding: 0 0;
            width: 300px;
        }
        .banner div h1 {
            padding: 20px 6px 20px 6px;
            line-height: 50px;
        }
        span {
            display: block;
        }
    }
    
    hr {
        width: 461px;
        border: 1px solid #979797;
        position: absolute;
        margin-top: 82px;
        margin-left: 280px;
        z-index: 1;
    }
    
    .bgcolor {
        width: 225px;
        height: 70px;
        background: #efe9e7;
        position: absolute;
        margin-top: 50px;
        margin-left: 390px;
        z-index: 2;
    }
    
    .cut h2 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 32px;
        color: #3d1101;
        position: absolute;
        margin-top: 50px;
        margin-left: 400px;
        z-index: 3;
    }
    
    .good {
        margin: 145px 0 50px 0;
        text-align: center;
        display: flex;
        justify-content: space-around;
        color: #3d1101;
    }
    
    .good-item img {
        border-radius: 50%;
    }
    
    .good-item h3 {
        font-size: 18px;
        margin: 20px 0 11px 0;
    }
    
    .good-item p {
        text-align: left;
        line-height: 20px;
        max-width: 260px;
    }
    
    .brown {
        width: 100%;
        height: 460px;
        background: #3d1101;
        position: absolute;
    }
    
    .content img {
        margin-left: 42px;
        position: absolute;
    }
    
    .con1 {
        position: absolute;
        margin: 81px 0 0 537px;
    }
    
    .content h3 {
        font-size: 20px;
        line-height: 32px;
        color: #EFE9E7;
    }
    
    .el {
        margin-bottom: 16px;
    }
    
    .content p {
        width: 410px;
        line-height: 21px;
        color: #EFE9E7;
    }
    
    @media screen and (max-width:768px) {
        hr {
            margin-left: 153px;
        }
        .bgcolor {
            margin-left: 262px;
        }
        .cut h2 {
            margin-left: 275px;
        }
        .brown {
            width: 768px;
            height: 460px;
            position: absolute;
        }
        .content img {
            margin-left: 11px;
            width: 373px;
            height: 460px;
        }
        .con1 {
            margin: 49px 29px 0 409px;
        }
        .good-item p {
            width: 196px;
        }
        .content p {
            width: 330px;
        }
    }
    
    @media screen and (max-width:380px) {
        hr {
            display: none;
        }
        .bgcolor {
            display: none;
        }
        .cut h2 {
            margin-left: 61px;
            width: 200px;
        }
        .good {
            display: flex;
            flex-direction: column;
        }
        .good-item p {
            width: 260px;
            margin-left: 30px;
            margin-bottom: 40px;
        }
        .brown {
            width: 320px;
            height: 987px;
            position: absolute;
        }
        .content img {
            width: 320px;
            height: 460px;
            margin: 0;
        }
        .con1 {
            margin: 490px 31px 0 29px;
            width: 260px;
        }
        .content p {
            width: 260px;
        }
    }
    
    .feel {
        margin-top: 560px;
        margin-bottom: 32px;
        font-weight: 600;
    }
    
    .feel h2 {
        font-size: 24px;
        text-align: center;
        color: #3d1101;
    }
    
    .share {
        display: flex;
        justify-content: space-around;
        color: #3d1101;
        font-weight: 600;
        margin-bottom: 50px;
    }
    
    .share-item {
        display: flex;
        flex-direction: row;
    }
    
    .share-item img {
        border-radius: 100%;
        width: 67px;
        height: 67px;
    }
    
    .share-item h3 {
        font-size: 18px;
        margin-bottom: 22px;
        margin-left: 13px;
    }
    
    .share-item p {
        max-width: 220px;
        line-height: 24px;
        margin-left: 13px;
    }
    
    .share-item h4 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        text-align: right;
        color: rgba(61, 17, 0, 0.75);
    }
    
    .word {
        margin-left: 13px;
        margin-top: 25px;
    }
    
    @media screen and (max-width:768px) {
        .word p {
            width: 155px;
        }
        .word {
            margin-left: 0px;
        }
    }
    
    @media screen and (max-width:380px) {
        .feel {
            margin-top: 1087px;
        }
        .share {
            display: flex;
            flex-direction: column;
        }
        .word p {
            width: 260px;
        }
    }
    
    .wcolor {
        width: 100%;
        height: 588px;
        background: rgba(250, 250, 250, 0.70);
        position: absolute;
    }
    
    .book h2 {
        width: 216px;
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        color: #3d1101;
        position: absolute;
        margin: 50px 404px 38px 404px;
        text-align: center;
    }
    
    .book img {
        position: absolute;
        margin: 152px 0 50px 42px;
    }
    
    .sign {
        position: absolute;
        display: flex;
        flex-direction: column;
        color: #3d1101;
        font-size: 14px;
        margin: 152px 474px 0 522px;
        line-height: 20px;
        font-weight: 600;
    }
    
    input {
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        color: #4a4a4a;
        font-size: 16px;
        border-radius: 3px;
        padding: 5px 200px 5px 14px;
        margin-top: 6px;
        margin-bottom: 12px;
        line-height: 20px;
    }
    
    button {
        font-size: 14px;
        width: 70px;
        height: 32px;
        border-radius: 3px;
        border: none;
        background: #f56c23;
        margin-top: 28px;
        margin-left: 11px;
        color: #fff;
        cursor: pointer;
    }
    
    .btn {
        background: rgba(0, 0, 0, 0.35);
    }
    
    .send {
        text-align: right;
    }
    
    .vg label {
        line-height: 14px;
    }
    
    .vg input {
        margin-right: 36px;
        line-height: 20px;
    }
    
    input[type=radio] {
        height: 16px;
        margin-top: 8px;
        border: 1px solid #4a90e2;
    }
    
    @media screen and (max-width:768px) {
        .wcolor {
            width: 768px;
        }
        .book h2 {
            width: 216px;
            margin: 50px 267px 38px 270px;
        }
        input {
            padding: 5px 153px 5px 14px;
        }
        .book img {
            width: 363px;
            height: 386px;
            margin: 152px 20px 50px 10px;
        }
        .sign {
            margin: 152px 474px 0 393px;
        }
    }
    
    @media screen and (max-width:380px) {
        .book {
            display: flex;
            flex-direction: column;
        }
        .wcolor {
            width: 320px;
            height: 989px;
        }
        .book h2 {
            width: 216px;
            margin: 43px 52px 30px 52px;
        }
        .book img {
            width: 298px;
            height: 386px;
            margin: 152px 20px 50px 10px;
        }
        .sign {
            margin: 553px 10px 0 10px;
        }
        .pt {
            display: flex;
            flex-direction: column;
        }
        input {
            padding: 5px 90px 5px 14px;
        }
    }
    
    .footer {
        color: #3d1101;
        display: flex;
        justify-content: space-around;
        margin-top: 688px;
    }
    
    .footer h2 {
        font-size: 24px;
        line-height: 32px;
        margin-left: 43px;
        margin-bottom: 16px;
    }
    
    .footer p {
        width: 299px;
        line-height: 20px;
        margin-left: 43px;
        margin-bottom: 50px;
    }
    
    .contact h2 {
        margin-left: 21px;
    }
    
    .contact ul {
        list-style-type: disc;
        margin-left: 43px;
        line-height: 20px;
        width: 299px;
    }
    
    .footer img {
        width: 245px;
        height: 49px;
        margin-left: 50px;
        margin-right: 42px;
    }
    
    @media screen and (max-width:768px) {
        .footer h2 {
            margin-left: 11px;
        }
        .footer p {
            width: 235px;
            line-height: 20px;
            margin-left: 11px;
            margin-bottom: 50px;
        }
        .footer img {
            width: 245px;
            height: 49px;
            margin-left: 12px;
            margin-right: 10px;
        }
        .contact {
            width: 235px;
        }
        .contact h2 {
            margin-left: 20px;
        }
    }
    
    @media screen and (max-width:320px) {
        .footer {
            display: flex;
            flex-direction: column;
        }
        .footer p {
            width: 299px;
        }
        .contact {
            width: 235px;
            margin-bottom: 50px;
        }
        .footer img {
            margin-left: 65px;
            margin-bottom: 80px;
        }
        .contact ul {
            width: 250px;
        }
    }